/* Este estilo hace que el desplazamiento al hacer clic en los enlaces del menú sea suave (efecto scroll suave) */
html {
  scroll-behavior: smooth;
}

.text-justify {
  text-align: justify;
}

.icon-box {
  background-color: #0dcaf0; /* Celeste */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px; /* Para un poco de separación */
}