/* Este estilo hace que el desplazamiento al hacer clic en los enlaces del menú sea suave (efecto scroll suave) */
html {
  scroll-behavior: smooth;
}

#carrusel {
  margin-top: 20px; /* Espacio encima del carrusel */
  margin-bottom: 20px; /* Espacio debajo del carrusel */
}

.carousel-item img {
  object-fit: cover; /* Asegura que la imagen cubra toda el área sin distorsionarse */
  height: 400px; /* Tamaño fijo para las imágenes */
}

.text-justify {
  text-align: justify;
}

.icon-box {
  background-color: #0dcaf0; /* Celeste */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 15px; /* Para un poco de separación */
}
